[role="banner"] {
  padding: 0;
}

#episodes {
  display: grid;
  grid-template-columns: repeat(4, minmax(18rem, 28rem));
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.episode {
  background: var(--color-white);
  color: var(--color-black);
  overflow: hidden;
  border-radius: 0.35rem;
}

.episode-body {
  padding: 0.25em 1.25em 0.75em;
}

.episode a {
  color: var(--color-red-dark);
}

.episode .meta,
.episode .meta li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.episode .meta li {
  width: max-content;
}

.episode .meta {
  flex-wrap: wrap;
  gap: 1em;
}

.episode .meta img {
  width: 1.5em;
  margin-right: 0.15em;
}

body.view-episode {
  overflow: hidden;
  position: relative;
}

.view-episode > section {
  position: relative;
  z-index: 2;
}

#modal-overlay {
  display: none;
}

.view-episode > #modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background: var(--color-shadow-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-episode #modal {
  width: 86vw;
  max-width: 50rem;
  height: 86vh;
  overflow-y: auto;
  background: var(--color-white);
  box-shadow: var(--box-shadow-dark);
  border-radius: 0.5rem;
}

.modal-body {
  color: var(--color-black);
  padding: 2rem;
}

.modal-body h2,
.modal-body a {
  color: var(--color-red-dark);
}

@media (max-width: 1600px) {
  #episodes {
    grid-template-columns: repeat(3, minmax(18rem, 28rem));
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 1000px) {
  #episodes {
    grid-template-columns: repeat(2, minmax(18rem, 30rem));
  }
}

@media (max-width: 650px) {
  #episodes {
    display: block;
    padding: 1.5rem 0;
    width: 90vw;
    margin: 0 auto;
  }

  .episode {
    margin: 1.5rem auto;
  }
}
