:root {
  --font-family-body: "Libre Franklin", "Helvetica Neue", helvetica, arial,
    sans-serif;

  --font-weight-light: 300;
  --font-weight-body: 400;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;

  --font-size-small: 0.875rem;
  --font-size-body: 1rem;
  --font-size-heading-3: 1.25rem;
  --font-size-blockquote: 1.65rem;
  --font-size-heading-2: 1.75rem;
  --font-size-heading-1: 2rem;
  --font-size-banner-heading: 3rem;
  --font-size-banner-heading-alt: 2.25rem;
  --font-size-banner-text: 1.5rem;

  --color-black: #222;
  --color-white: #eee;
  --color-grey-light: #ddd;
  --color-yellow: #ffe733;
  --color-red-light: #ee5740;
  --color-red-dark: #880000;
  --color-blue: #237199;
  --color-shadow-dark: rgba(0, 0, 0, 0.65);
  --color-shadow-light: rgba(0, 0, 0, 0.25);

  --box-shadow-dark: 0 0.5rem 1rem var(--color-shadow-dark);
  --box-shadow-light: 0 0.25rem 0.5rem var(--color-shadow-light);

  --theme-color-body: var(--color-black);
  --theme-color-banner: var(--color-blue);
  --theme-color-text: var(--color-white);
  --theme-color-link: var(--color-yellow);
  --theme-color-link-hocus: var(--color-red-light);
  --theme-color-heading-3: var(--color-grey-light);
  --theme-color-heading-2: var(--color-yellow);
  --theme-color-heading-1: var(--color-red-light);

  --bg-blur-light: blur(0.15rem);

  --modal-max-width: 50rem;
}

@media (max-width: 1000px) {
  :root {
    --font-size-blockquote: 1.45rem;
    --font-size-heading-2: 1.65rem;
    --font-size-heading-1: 1.85rem;
    --font-size-banner-heading: 2.75rem;
    --font-size-banner-heading-alt: 2rem;
    --font-size-banner-text: 1.45rem;
  }
}

@media (max-width: 650px) {
  :root {
    --font-size-heading-3: 1.15rem;
    --font-size-blockquote: 1.35rem;
    --font-size-heading-2: 1.5rem;
    --font-size-heading-1: 1.75rem;
    --font-size-banner-heading: 2.5rem;
    --font-size-banner-heading-alt: 1.75rem;
    --font-size-banner-text: 1.25rem;
  }
}
